body {
    background-color: #fff;
}
header {
    position: fixed;
    top: 0px;left: 0px;right: 0px;
    line-height: 55px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    z-index: 1;
}
header h1 {
    margin: 0;
    font-size: 22px;
    margin-left: 5%;
    float: left;
}
header a {
    color: #444;
}
header nav {
    float: right;
    margin-right: 5%;
}
header button {
    margin: 0;
    height: auto;
}
header li {
    list-style: none;
    display: inline-block;
    margin: 0px 15px;
}

.roomArea {
    position: fixed;
    top: 56px;left: 0px;bottom: 0px;
    width: 25%;
    border-right: 1px solid #ddd;
    background-color: #fff;
    z-index: 1;
}
.roomArea .room {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.roomArea .room.active {
    border: none;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}
.roomArea .room.active h3 { color: #fff; }

.content {
    position: absolute;
    top:56px;right: 0px;left: 25%;bottom: 0px;
    background-color: #fff;
}

.chatArea {
    padding: 5px;
}
.chatArea .startMessage i {
    font-size: 40px;
}
.chatArea .chat {
    background-color: #ecf0f1;
    width: 65%;
    border-radius: 6px;
    padding: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.chatArea .chat.mine {
    background-color: #3498db;
    color: #fff;
    border: none;
    margin-left: 35%;
}

.typingArea {
    position: fixed;
    bottom: 0px;left: 25%;right: 0px;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding: 5px;
}
.typingArea .box {
    margin: 0;
    border: none;
}
.typingArea .box:focus {
    box-shadow: none;
}
.typingArea button {
    height: 45px;
    padding: 0px;
}